body{
    font-family: '微軟正黑體';font-size: 1.2rem;
}
.nav_shadow{
    box-shadow: 0px 2px 7px rgba(109, 109, 109, 0.7);
}
.advertising{
    background-image: url("../image/只是示範.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.backg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.listy{
    color: #000000;
}
.commo{
    height: 65%;
}
@media (max-width: 1200px) { 
    .commo{
        height: 50%;
    }
}
.cardch{
    width: 50%;
}
@media (max-width: 768px) { 
    .cardch{
        width: 100%;
    }
}
.cardp{
    color: #000000;
}
.jumbg{
    background-color: #ffffff86;
}
.recordbg{
    background-image: url("../image/2142613_orig.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
}
.com{
    font-size: 1rem;
}
.com img{
    height: 50px;
    width: 100px;
}
@media (max-width: 768px) {
    .com img{
        height: 50px;
        width: 70px;
    }
}
@media (max-width: 768px) {
    .regist input{
        width: 120px;
    }
}
.techcarousel{
    height: 50%;
    width: 75%;
}
.cardimg{
    width: 100%;
}
.card img{
    width: 100%;
    height: 50%;
}
.cardcolor{
    color: #000000;
}
.cardsize{
    height: 16rem;
}
.avatar img{
    height: 3rem;
    width: 3rem;
}
.avatar a{
    font-size: 1.3rem;
    color: #000000;
}
.avatar{
    
}
.tadiv{
    table-layout: fixed;
    word-wrap: break-word;
    height: 20%;
    overflow: hidden;
}
.annpage_title{
    font-size: 1.5rem;
}
.annpage_content{
    font-size: 1.3rem;
}